doctype html
html
  head
    title= title
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
=======
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content

>>>>>>> f5c62399008fd3506b92ba5a3eeefaf9944b2003
